footer{
    background: #201b24;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem 0 5rem;
}

footer #logo_frase{
    display: flex;
    float: left;
    width: 30%;
}

footer #logo_frase div img{
    width: 177px;
    margin: 2rem 1rem 0 0;
}

footer #logo_frase div p{
    margin: 2rem;
    font-size: 12px;
    width: 240px;
}

footer #secciones{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 70%;
}

footer #secciones div{
    margin-left: 8rem;
    font-weight: bold;
    font-size: 14px;
}

footer #secciones div p img{
    margin-right: 1rem;
    width: 15px;
    filter: invert(1);
}

footer #secciones div p:hover{
    cursor: pointer;
}

footer button{
    color: white;
    margin-top: 120px;
    border-radius: 10px 10px 0 0;
    border: none;
    width: 50px;
    height: 35px;
    background: rgb(99, 99, 99);
}

footer button img{
    width: 32px;
}

footer button:hover{
    cursor: pointer;
    background-color: #644edc;
}
